{% extends "portifolio/base_admin.html" %}

{% block content %}
    <h2>Adicionar Imagem a: {{ projeto.titulo }}</h2>
    <a href="{% url 'portifolio:imagem_listar' projeto.id %}" class="back-link">&larr; Voltar para a Galeria</a>

    <form method="POST" enctype="multipart/form-data"> 
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% for error in field.errors %}
                    <p class="errorlist">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}

        <button type="submit">Fazer Upload e Guardar</button>
    </form>
{% endblock content %}